# ARC training config

defaults:
  - arch: trm
  - _self_

hydra:
  output_subdir: null

# Override arch values
arch:
  L_layers: 2
  H_cycles: 3
  L_cycles: 6

# Data path
data_paths: ["data/arc1concept-aug-1000"]
data_paths_test: []
max_train_groups: null
max_eval_groups: null

evaluators:
  - name: arc@ARC

# Prediction visualization logging (ARC-specific)
log_predictions_every: 1000
log_predictions_max_samples: 32  # Max samples per log
log_predictions_crop: True  # If true, crop to content; if false, show full 30x30

# Hyperparams - Training
global_batch_size: 768

epochs: 100000
eval_interval: 10000
checkpoint_every_eval: True

lr: 1e-4
lr_min_ratio: 1.0
lr_warmup_steps: 2000

# Standard hyperparameter settings for LM, as used in Llama
beta1: 0.9
beta2: 0.95
weight_decay: 0.1
puzzle_emb_weight_decay: 0.1

# Hyperparams - Puzzle embeddings training
puzzle_emb_lr: 1e-2

seed: 0
min_eval_interval: 0 # when to start the eval

ema: True # use Exponential-Moving-Average
ema_rate: 0.999 # EMA-rate
freeze_weights: False # If True, freeze weights and only learn the embeddings